/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap'); */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.sections-lobbies {
    font-family: "Poppins", sans-serif;
    position: absolute;
}

.section-lobbies a {
    text-decoration: none;
    color: inherit;
    font-size: 0.7em;
    margin-top: -10px;
    max-width: 190px;

}

.section-lobbies a:hover {
    text-decoration: none;
    color: inherit;
    font-size: 0.7em;
    margin-top: -10px;
}


.section-lobbies .header {
    margin-top: 10px;
    margin-bottom: 25px;
}

.section-lobbies .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-lobbies .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-lobbies .single-lobby {
    align-self: center;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .30);
    margin-bottom: 26px;
    margin-left: 30px;
    max-width: 190px;
    overflow: hidden;
    transition: transform 300ms, box-shadow 300ms;
}

.section-lobbies .single-lobby:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px rgba(0, 0, 0, .30)
}


.section-lobbies .single-lobby .lobby-image:hover {
    color: #fe302f;
}

.section-lobbies .single-lobby .lobby-details .lobby-title {
    font-size: 1rem;
}

.section-lobbies .single-lobby .lobby-details h5 {
    display: inline-block;
    margin: 0px 0px 0px 5px;
}
.section-lobbies .single-lobby .lobby-details h6 {
    display: inline-block;
    font-size: 0.85rem;
    margin: 0px 0px -1px 5px;
}

.section-lobbies .single-lobby .lobby-details .lobby-status {
    position: relative;
}
