{% extends "base.html" %}
{% block title %}ChessBoard{% endblock %}
{% block content %}
<style type="text/css">
    .board{
      position: relative;
      z-index: 1;
      margin: 0 auto 200px;
      padding: 0px;
      width: 1200px;
      z-index: 1;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .chessBoard{.
    position: absolute;
    left: -200px;
    width: 700px;   
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    }
    
</style>
    <link rel="stylesheet" href="{{ url_for('static', filename='chessboard/css/chessboard-1.0.0.css') }}">
    <div id='gameBoard' class='board'>
        <div class="chessBoard" id="myBoard"></div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="{{ url_for('static', filename='chessboard/js/chessboard-1.0.0.js') }}"></script>
        <script src="{{ url_for('static', filename='chessboard/js/chess.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/socket.io/client-dist/socket.io.js') }}"></script>
        <script src="{{ url_for('static', filename='chessboardpage.js') }}"></script>
        <label>Status:</label>
        <div id="status"></div>
        <label>FEN:</label>
        <div id="fen"></div>
        <label>PGN:</label>
        <div id="pgn"></div>
    </div>
  {% endblock %}