{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

   <article class="leaderboard">
        <header>
            <div class="row position" style="padding-top:10px;">
                <div class="col"><p class="h3 leaderboard_title" align="center" ">Current Elo Rating: {{g.user["elo"]}}</p></div>
            </div>
            <div class="row position" style="padding-top:20px;">
                <div class="col"><p class="h3 leaderboard_title" align="center" ">Match History</p></div>
    
        </header>

        <main class="leaderboard__profiles">
            {% for match in match_history %}
                {% if g.user["username"] == match["winner_username"] %}
                    <article class="leaderboard__profile profile__victory">
                        <span class="leaderboard__name">{{match["winner_username"]}} ({{match["winner_elo"]}}) vs {{match["loser_username"]}} ({{match["loser_elo"]}})</span>
                        <span class="leaderboard__name time__played">Played On: {{match["time_played"]}}</span>
                        <span class="leaderboard__value value__victory">VICTORY (+{{match["elo_change"]}})<span></span></span>
                    </article>
                {% else %}
                    <article class="leaderboard__profile profile__defeat">
                        <span class="leaderboard__name">{{match["loser_username"]}} ({{match["loser_elo"]}}) vs {{match["winner_username"]}} ({{match["winner_elo"]}})</span>
                        <span class="leaderboard__name time__played">Played On: {{match["time_played"]}}</span>
                        <span class="leaderboard__value value__defeat">DEFEAT (-{{match["elo_change"]}})<span></span></span>
                    </article>
                {% endif %}
            {% endfor %}
        </main>
    </article> 
{% endblock %}