{% extends "base.html" %}
{% block header %}
<h1>{% block title %}Room Select{% endblock %}</h1>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/roomselect.css') }}">
<section class="section-lobbies" >
    <div class="container" >
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header" >
                    <h2>Competitive Lobbies</h2>
                </div>
            </div>
        </div>
        <div class="row" style="max-width: 80vw">
            <!-- Single Product -->
            {% for chessboard in chessboards %}
            <div class="col-md-6 col-lg-4 col-xl-3" style="max-width: 250px;">
                <div id="lobby-{{chessboard['id']}}" class="single-lobby">
                    <a href="{{url_for('chess_bp.chessboard', room=chessboard['id'])}}">
                        <div class="lobby-image">
                            <img 
                            src="{{url_for('static', filename='images/linus.jpg')}}" 
                            width="190" 
                            >
                        </div>
                        <div class="lobby-details">
                            <h5 class="lobby-title"">Competitive Lobby {{chessboard['id']}}</h3>
                            <h6 class="lobby-status">Status: {{chessboard['board_status']}}</h4>
                            <h6 class="lobby-player-count">Users in lobby: {{chessboard['user_count']}}</h4>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header" style="padding: 40px 0 0px;">
                    <h2>Practice Lobbies</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Product -->
            {% for practiceboard in practiceboards %}
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div id="lobby-{{practiceboard['id']}}" class="single-lobby">
                    <a href="{{url_for('chess_bp.practiceboard', room=practiceboard['id'])}}">
                        <div class="lobby-image">
                            <img 
                            src="{{url_for('static', filename='images/gunch.jpg')}}" 
                            width="190" 
                            >
                        </div>
                        <div class="lobby-details">
                            <h5 class="lobby-title">Practice Lobby {{practiceboard['id']}}</h3>
                            <h6 class="lobby-status">Status: {{practiceboard['board_status']}}</h4>
                            <h6 class="lobby-player-count">Users in lobby: {{practiceboard['user_count']}}</h4>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}